body {
  text-align: center;
}
body header {
  /* border: 5px solid greenyellow; */
  margin-bottom: 30px;
}
.clock-body {
  /* border: 4px solid aquamarine; */
  width: 53%;
  height: 230px;
  margin: 0 auto;
  padding: 10px;
}
.up {
  background-color: blueviolet;
  height: 40%;
  font-size: 45px;
  border-radius: 10px;
}
.up span {
  padding: 15px;
  margin-top: 60px;
}
.down {
  /* background-color: darkblue; */
  padding: 5px;
  height: 55%;
  display: flex;
  justify-content: space-around;
}
.down p{
  background-color: royalblue;
  color: white;
  height: 100%;
  width: 27%;
  margin: 0px;
  font-size: 85px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px aqua;
}
.down span{
  background-color: tomato;
  color: black;
  height: 50%;
  width: 10%;
  margin: 0px;
  padding: 0px;
  font-size: 35px;
  border-radius: 10px;
}
