/* full body  */
body {
  text-align: center;
  background-image: linear-gradient(
    to right bottom,
    #1d0537,
    #6a0c4b,
    #af2c48,
    #de6733,
    #ebad12
  );
  /* background-color: #100120; */
  height: 100vh;
  width: 100%;
  color: rgb(209, 208, 208);
}
/* only header section  */

body header {
  margin-bottom: 30px;
}

/* total clock body desig  */
.clock-body {
  /* border: 4px solid aquamarine; */
  width: 53%;
  height: 230px;
  margin: 0 auto;
  padding: 10px;
}

/* day month and year design  */
.up {
  background-image: linear-gradient(
    to left bottom,
    #052637,
    #133765,
    #563f89,
    #a43592,
    #eb127d
  );
  color: white;
  height: 40%;
  font-size: 45px;
  border-radius: 10px;
}
.up span {
  padding: 15px;
  margin-top: 60px;
}

/* hour minutes and second design here  */
.down {
  /* background-color: darkblue; */
  padding: 5px;
  height: 55%;
  display: flex;
  justify-content: space-around;
}
.down p {
  background-image: linear-gradient(
    to left bottom,
    #05749e,
    #3771b9,
    #7d63c1,
    #bd47ad,
    #eb127d
  );
  color: white;
  height: 100%;
  width: 27%;
  margin: 0px;
  font-size: 85px;
  border-radius: 10px;
  /* box-shadow: 2px 2px 2px 2px white; */
}
.down span {
  background-image: linear-gradient(
    to left bottom,
    #e9ca0b,
    #ced300,
    #abdc00,
    #7de400,
    #1ceb12
  );
  color: black;
  height: 50%;
  width: 10%;
  margin: 0px;
  padding: 0px;
  font-size: 35px;
  border-radius: 10px;
}
